<nav class="subpage">
    <div class="nav-wrapper">
    </div>
</nav>
<div class="bg-image">
    <div class="container fund">
        <div class="row header-row">
            <div class="col s12 center-align">
                <div class="row">
                    <!-- JST data.fund.fund -->
                    <h3 class="fund-name center-align"><%= fund.fund %></h3>
                </div>
                <div class="row">
                    <h5 class="btn center-align fund-ticker"><span class="bold"><%= ticker %></span></h5>
                </div>
            </div>
        </div>

        <div class="card-panel gunstocks overview">
            <div class="card-content">
                <!-- JST data.fund.categoryData -->
                <div class="row">

                    <div class="col s12 m6 l3">
                        <div class="card hoverable <%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>" data-id="<%= fund.ticker %>">
                            <div class="card-bg">
                                <h6 class="card-title ticker btn white"><%= fund.ticker %></h6>
                                <div class="metals">
                                    <img class="metal" src="/images/metals/<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>.png" alt="<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>" class="<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>" />
                                </div>
                                <!--<h5 class="fund-name"><%= fund.fund %></h5>-->
                                <!--<p class="fund-type center-align">-->
                                <!--<%= fund.fundBasics.segment %>-->
                                <!--</p>-->
                            </div>
                            <div class="card-content center">
                                <h2 class="card-percentage center-align">
                                    <span class="bold"><%= fund.sinStocks.total && fund.sinStocks.total.allocationPercent ? fund.sinStocks.total.allocationAbsolutePercent : 'gold' %></span>
                                </h2>
                                <h5 class="card-percentage-description">in stocks <%= fund.sinStocks.total.allocationNum < 0 ? 'supporting' : 'against' %> your values</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l9">
                        <h5 class="h55"><span class="bold"><%= ticker %></span> receives <span class="bold"><%= fund.sinStocks.total.metal !== 'none' ? fund.sinStocks.total.metal : 'no' %></span> ranking. The fund is comprised from <span class="bold"><%= fund.companyAllocation.length ? fund.companyAllocation.length + ' total' : 'numerous' %></span> company allocations, <span class="bold"><%= fund.sinStocks.total.allocationCount %></span> of which <%= fund.sinStocks.total.allocationNum < 0 ? 'support' : 'are against' %> your values.</h5>
                        <h5>Of the total <span class="bold">$<%= fund.sinStocks.total.aumFormated %></span> under management, a total of <span class="bold">$<%= fund.sinStocks.total.totalSinfulAumFormated %></span> or <span class="bold"><%= fund.sinStocks.total.allocationAbsolutePercent %></span> are going towards companies <%= fund.sinStocks.total.allocationNum < 0 ? 'supporting' : 'against' %> your values.</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <br><br>
                        <button class="waves-effect waves-light btn red darken-1 see-alt-funds">See Alternative Funds</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <h4 class="section-title">Fund Metrics</h4>
        </div>
        <div class="card-panel sticky-action">
            <div class="card-content">

                <div class="row">
                    <!-- JST data.fund.categoryData -->
                    <% _.each(fund.categoryData, function(data, index, list) { %>
                    <div class="col s6 m4 l2 center-align">
                        <i class="material-icons icons <%= index + ' ' + data.level %>"><%= index %></i>
                        <p class="fund-metrics"><%= data.name %></p>
                        <div class="tip center-align" data-tip="<%= data.description %>">
                            <i class="material-icons">info</i>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="row category-filter">
            <div class="col s12">
                <h4 class="section-title">Alternate Funds</h4>
                <h5 class="section-description">Find similar funds to this ETF.</h5>
            </div>
        </div>

        <div class="carousel fund-detail-carousel">
            <div class="carousel-item">
                <div class="card hoverable gold" data-id="BND">
                    <div class="card-bg">
                        <h6 class="card-title ticker btn white">BND</h6>
                        <div class="metals">
                            <img class="metal" src="/images/metals/gold.png" alt="gold">
                        </div>
                    </div>
                    <div class="card-content center">
                        <h2 class="card-percentage center-align">
                            <span class="bold">0.00%</span>
                        </h2>
                        <h5 class="card-percentage-description">in stocks against your values</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable gold" data-id="BND">
                    <div class="card-bg">
                        <h6 class="card-title ticker btn white">BND</h6>
                        <div class="metals">
                            <img class="metal" src="/images/metals/gold.png" alt="gold">
                        </div>
                    </div>
                    <div class="card-content center">
                        <h2 class="card-percentage center-align">
                            <span class="bold">0.00%</span>
                        </h2>
                        <h5 class="card-percentage-description">in stocks against your values</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable silver" data-id="BNDS">
                    <div class="card-bg">
                        <h6 class="card-title ticker btn white">BNDS</h6>
                        <div class="metals">
                            <img class="metal" src="/images/metals/silver.png" alt="silver">
                        </div>
                    </div>
                    <div class="card-content center">
                        <h2 class="card-percentage center-align">
                            <span class="bold">0.29%</span>
                        </h2>
                        <h5 class="card-percentage-description">in stocks against your values</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable bronze" data-id="BIV">
                    <div class="card-bg">
                        <h6 class="card-title ticker btn white">BIV</h6>
                        <div class="metals">
                            <img class="metal" src="/images/metals/bronze.png" alt="bronze">
                        </div>
                    </div>
                    <div class="card-content center">
                        <h2 class="card-percentage center-align">
                            <span class="bold">1.28%</span>
                        </h2>
                        <h5 class="card-percentage-description">in stocks against your values</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable none" data-id="VYM">
                    <div class="card-bg">
                        <h6 class="card-title ticker btn white">VYM</h6>
                        <div class="metals">
                            <img class="metal" src="/images/metals/none.png" alt="none">
                        </div>
                    </div>
                    <div class="card-content center">
                        <h2 class="card-percentage center-align">
                            <span class="bold">8.43%</span>
                        </h2>
                        <h5 class="card-percentage-description">in stocks against your values</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 center">
            <h5 class="section-description">Find alternative funds and customize your results.</h5>
            <button class="waves-effect waves-light btn red darken-1 see-alt-funds">See Alternative Funds</button><br><br><br>
        </div>
    </div>
</div>
