<nav class="subpage">
    <div class="nav-wrapper">
    </div>
</nav>
<div class="bg-image">
    <div class="container fund">
        <div class="row header-row">
            <div class="col s12 center-align">
                <div class="row">
                    <!-- JST data.fund.fund -->
                    <h3 class="fund-name center-align"><%= fund.fund %></h3>
                </div>
                <div class="row <%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>">
                    <h3 class="card-title ticker white-text"><%= fund.ticker %></h3>
                </div>
            </div>
        </div>

        <div class="card-panel overview">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card-wrapper">
                            <div class="card hoverable <%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>" data-id="<%= fund.ticker %>">
                                <div class="card-header center"><%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>
                                    <i class="activator material-icons right-top more_vert">more_vert</i>
                                </div>
                                <div class="card-summary-container">
                                    <h3 class="card-title ticker white-text"><%= fund.ticker %></h3>
                                    <p class="fund-name"><%= fund.fund %></p>
                                    <div class="fund-summary">
                                        <div class="col s6">
                                            <h4 class="value"><%= fund.performance && fund.performance.yearPercent ? fund.performance.yearPercent : '--' %></h4>
                                            <p class="label caps">Return</p>
                                        </div>
                                        <div class="vert-divider"></div>
                                        <div class="col s6">
                                            <h4 class="value"><%= fund.analysis.risk %></h4>
                                            <p class="label caps">Risk</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-reveal medal-summary">
                                    <div class="card-header center"><%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>
                                        <span class="card-title">
                                    <i class="close material-icons right-top more_vert">more_vert</i>
                                </span>
                                    </div>

                                    <div class="card-bg">
                                        <h6 class="fund-type caps"><%= fund.fundBasics.segment %></h6>
                                        <div class="metals">
                                            <img class="metal" src="/images/metals/<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>.png" alt="<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'gold' %>" class="<%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'no-metal' %>" />
                                        </div>
                                        <p class="label center-align"><span class="bold caps"><%= fund.sinStocks.total && fund.sinStocks.total.metal ? fund.sinStocks.total.metal : 'None' %></span> in stocks aligned with your values</p>
                                    </div>
                                </div>
                                <% if (fund.performance && fund.performance.yearShort !== '10yr') { %>
                                <div class="col s12 fund-disclaimer">
                                    <p class="disclaimer caps"><span class="bold"><%= fund.performance && fund.performance.yearShort %></span> <%= fund.performance && fund.performance.yearShort !== 'No History' ? 'Backtested' : '' %></p>
                                </div>
                                <% } %>
                                <i class="material-icons right-bottom control_point">control_point</i>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l9">
                        <h5 class="h55"><span class="bold"><%= ticker %></span> receives <span class="bold"><%= fund.sinStocks.total.metal !== 'none' ? fund.sinStocks.total.metal : 'no' %></span> ranking. The fund is comprised from <span class="bold"><%= fund.companyAllocation.length ? fund.companyAllocation.length + ' total' : 'numerous' %></span> company allocations, <span class="bold"><%= fund.sinStocks.total.allocationCount %></span> of which <%= fund.sinStocks.total.allocationNum < 0 ? 'support' : 'are against' %> your values.</h5>
                        <h5>Of the total <span class="bold">$<%= fund.sinStocks.total.aumFormated %></span> under management, a total of <span class="bold">$<%= fund.sinStocks.total.totalSinfulAumFormated %></span> or <span class="bold"><%= fund.sinStocks.total.allocationAbsolutePercent %></span> are going towards companies <%= fund.sinStocks.total.allocationNum < 0 ? 'supporting' : 'against' %> your values.</h5>
                    </div>
                    <div class="col s12 m6 l4">
                        <br><br>
                        <button class="waves-effect waves-light btn red darken-1 see-alt-funds">See Alternative Funds</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <h4 class="section-title">Fund Metrics</h4>
        </div>
        <div class="card-panel sticky-action">
            <div class="card-content">

                <div class="row">
                    <!-- JST data.fund.categoryData -->
                    <% _.each(fund.categoryData, function(data, index, list) { %>
                    <div class="col s6 m4 l2 center-align">
                        <i class="material-icons icons <%= index + ' ' + data.level %>"><%= index %></i>
                        <p class="fund-metrics"><%= data.name %></p>
                        <div class="tip center-align" data-tip="<%= data.description %>">
                            <i class="material-icons">info</i>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="row category-filter">
            <div class="col s12">
                <h4 class="section-title">Alternate Funds</h4>
                <h5 class="section-description">Find similar funds to this ETF.</h5>
            </div>
        </div>

        <div class="row carousel fund-detail-carousel">
            <div class="carousel-item">
                <div class="card hoverable platinum" data-id="DFND">
                    <div class="card-header center">platinum
                        <i class="activator material-icons right-top more_vert">more_vert</i>
                    </div>
                    <div class="card-summary-container">
                        <h3 class="card-title ticker white-text">DFND</h3>
                        <p class="fund-name">Reality Shares DIVCON Dividend Defender ETF</p>
                        <div class="fund-summary">
                            <div class="col s6">
                                <h4 class="value">11.28%</h4>
                                <p class="label caps">Return</p>
                            </div>
                            <div class="vert-divider"></div>
                            <div class="col s6">
                                <h4 class="value">11.88%</h4>
                                <p class="label caps">Risk</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal medal-summary">
                        <div class="card-header center">platinum
                            <span class="card-title">
                                    <i class="close material-icons right-top more_vert">more_vert</i>
                                </span>
                        </div>

                        <div class="card-bg">
                            <h6 class="fund-type caps">Equity: U.S.  -  Large Cap</h6>
                            <div class="metals">
                                <img class="metal" src="/images/metals/platinum.png" alt="platinum">
                            </div>
                            <p class="label center-align"><span class="bold caps">platinum</span> in stocks aligned with your values</p>
                        </div>
                    </div>

                    <div class="col s12 fund-disclaimer">
                        <p class="disclaimer caps"><span class="bold">1yr</span> Backtested</p>
                    </div>

                    <i class="material-icons right-bottom control_point">control_point</i>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable gold" data-id="IEF">
                    <div class="card-header center">gold
                        <i class="activator material-icons right-top more_vert">more_vert</i>
                    </div>
                    <div class="card-summary-container">
                        <h3 class="card-title ticker white-text">IEF</h3>
                        <p class="fund-name">iShares 7-10 Year Treasury Bond ETF</p>
                        <div class="fund-summary">
                            <div class="col s6">
                                <h4 class="value">5.50%</h4>
                                <p class="label caps">Return</p>
                            </div>
                            <div class="vert-divider"></div>
                            <div class="col s6">
                                <h4 class="value">1.01%</h4>
                                <p class="label caps">Risk</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal medal-summary">
                        <div class="card-header center">gold
                            <span class="card-title">
                                <i class="close material-icons right-top more_vert">more_vert</i>
                            </span>
                        </div>

                        <div class="card-bg">
                            <h6 class="fund-type caps">Fixed Income: U.S. Government Treasury Intermediate</h6>
                            <div class="metals">
                                <img class="metal" src="/images/metals/gold.png" alt="gold">
                            </div>
                            <p class="label center-align"><span class="bold caps">gold</span> in stocks aligned with your values</p>
                        </div>
                    </div>

                    <i class="material-icons right-bottom control_point">control_point</i>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable silver" data-id="ITM">
                    <div class="card-header center">silver
                        <i class="activator material-icons right-top more_vert">more_vert</i>
                    </div>
                    <div class="card-summary-container">
                        <h3 class="card-title ticker white-text">ITM</h3>
                        <p class="fund-name">VanEck Vectors AMT-Free Intermediate Municipal Index ETF</p>
                        <div class="fund-summary">
                            <div class="col s6">
                                <h4 class="value">2.86%</h4>
                                <p class="label caps">Return</p>
                            </div>
                            <div class="vert-divider"></div>
                            <div class="col s6">
                                <h4 class="value">1.34%</h4>
                                <p class="label caps">Risk</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal medal-summary">
                        <div class="card-header center">silver
                            <span class="card-title">
                                <i class="close material-icons right-top more_vert">more_vert</i>
                            </span>
                        </div>

                        <div class="card-bg">
                            <h6 class="fund-type caps">Fixed Income: U.S.  - Municipals Investment Grade Intermediate</h6>
                            <div class="metals">
                                <img class="metal" src="/images/metals/silver.png" alt="silver">
                            </div>
                            <p class="label center-align"><span class="bold caps">silver</span> in stocks aligned with your values</p>
                        </div>
                    </div>

                    <div class="col s12 fund-disclaimer">
                        <p class="disclaimer caps"><span class="bold">5yr</span> Backtested</p>
                    </div>

                    <i class="material-icons right-bottom control_point">control_point</i>
                </div>

            </div>
            <div class="carousel-item">
                <div class="card hoverable bronze" data-id="BIV">
                    <div class="card-header center">bronze
                        <i class="activator material-icons right-top more_vert">more_vert</i>
                    </div>
                    <div class="card-summary-container">
                        <h3 class="card-title ticker white-text">BIV</h3>
                        <p class="fund-name">Vanguard Intermediate-Term Bond ETF</p>
                        <div class="fund-summary">
                            <div class="col s6">
                                <h4 class="value">5.63%</h4>
                                <p class="label caps">Return</p>
                            </div>
                            <div class="vert-divider"></div>
                            <div class="col s6">
                                <h4 class="value">3.57%</h4>
                                <p class="label caps">Risk</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal medal-summary">
                        <div class="card-header center">bronze
                            <span class="card-title">
                                    <i class="close material-icons right-top more_vert">more_vert</i>
                                </span>
                        </div>

                        <div class="card-bg">
                            <h6 class="fund-type caps">Fixed Income: U.S.  - Government/Credit Investment Grade Intermediate</h6>
                            <div class="metals">
                                <img class="metal" src="/images/metals/bronze.png" alt="bronze">
                            </div>
                            <p class="label center-align"><span class="bold caps">bronze</span> in stocks aligned with your values</p>
                        </div>
                    </div>

                    <i class="material-icons right-bottom control_point">control_point</i>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card hoverable none" data-id="DRIP">
                    <div class="card-header center">none
                        <i class="activator material-icons right-top more_vert">more_vert</i>
                    </div>
                    <div class="card-summary-container">
                        <h3 class="card-title ticker white-text">DRIP</h3>
                        <p class="fund-name">Direxion Daily S&amp;P Oil &amp; Gas Exp. &amp; Prod. Bear 3X Shares</p>
                        <div class="fund-summary">
                            <div class="col s6">
                                <h4 class="value">-30.99%</h4>
                                <p class="label caps">Return</p>
                            </div>
                            <div class="vert-divider"></div>
                            <div class="col s6">
                                <h4 class="value">5.67%</h4>
                                <p class="label caps">Risk</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal medal-summary">
                        <div class="card-header center">none
                            <span class="card-title">
                                    <i class="close material-icons right-top more_vert">more_vert</i>
                                </span>
                        </div>

                        <div class="card-bg">
                            <h6 class="fund-type caps">Inverse Equity: U.S. Oil &amp; Gas Exploration &amp; Production</h6>
                            <div class="metals">
                                <img class="metal" src="/images/metals/none.png" alt="none">
                            </div>
                            <p class="label center-align"><span class="bold caps">none</span> in stocks aligned with your values</p>
                        </div>
                    </div>

                    <div class="col s12 fund-disclaimer">
                        <p class="disclaimer caps"><span class="bold">1yr</span> Backtested</p>
                    </div>

                    <i class="material-icons right-bottom control_point">control_point</i>
                </div>
            </div>
        </div>

        <div class="alternative-funds col s12 center">
            <h5 class="section-description">Find alternative funds and customize your results.</h5>
            <button class="waves-effect waves-light btn red darken-1 see-alt-funds">See Alternative Funds</button><br><br><br>
        </div>
    </div>
</div>
