<nav class="subpage">
    <div class="nav-wrapper">
    </div>
</nav>
<div class="background-<%= Math.floor(Math.random() * 3) + 1 %> bg-image">
    <div class="container fund">
        <div class="row header-row" style="height: 220px">
            <div class="col s12 center-align">
                <div class="row">
                    <!-- JST data.fund.fund -->
                    <h3 class="fund-name center-align"><%= fund.fund %></h3>
                </div>
                <div class="row">
                    <h5 class="btn center-align fund-ticker"><span class="bold"><%= ticker %></span></h5>
                </div>
            </div>
        </div>

        <div class="card gunstocks">
            <div class="card-content">
                <!-- JST data.fund.categoryData -->
                <h5 class="bold"><%= fund.gunStocks.length === 1 ? fund.gunStocks.length + ' Gun Stock' : fund.gunStocks.length + ' Gun Stocks' %></h5>
                <div class="row">

                    <div class="col s6 m6 l3">
                        <div class="card" data-id="<%= fund.ticker %>">
                            <div class="card-bg background-<%= Math.floor(Math.random() * 6) + 1 %>">
                                <h6 class="card-title ticker waves-effect waves-light btn blue darken-1"><%= fund.ticker %></h6>
                            </div>
                            <div class="card-content center-align <%= fund.gunStocks.length >= 1 ? 'gun-full' : 'gun-free' %>">
                                <% if (fund.gunStocks.length >= 1) {  %>
                                <h4 class="center-align">
                                    <span class="bold"><% var rando = (Math.random() * (3.120 - 0.0200) + 0.0200).toFixed(4) + '%'; %><%= rando %></span>
                                </h4>
                                <h5>in Gun Stocks</h5>
                                <% var infoText = 'Percentage of this fund going to Gun Stocks' } else { %>
                                <h5><i class="material-icons medium">check</i></h5>
                                <h5>Gun-Free Fund</h5>

                                <% var infoText = 'None of the companies in this fund contribute to Gun Stocks' } %>
                                <div class="tip center-align" data-tip="<%= infoText %>">
                                    <i class="material-icons">info</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l9">
                        <h5><span class="bold">$47M+</span> is held in <%= fund.gunStocks.length %> ammo maker/seller stocks, comprised of <span class="bold"><%= rando %></span> of the fund.</h5>
                        <h5 class="h55 light-grey"><%= ticker %> holds similar percentage of gun stocks to the average US stock fund and also a similar percentage to other funds in the same category.</h5>
                    </div>
                    <div class="col s6 m6 l3">
                        <a class="waves-effect waves-light btn red darken-1" href="/#funds/">See Alternative Funds</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card sticky-action">
            <div class="card-content">
                <h5>Fund Metrics</h5>
                <div class="row">
                    <!-- JST data.fund.categoryData -->
                    <% _.each(fund.categoryData, function(data, index, list) { %>
                    <div class="col s6 m4 l2 center-align">
                        <i class="material-icons icons <%= index + ' ' + data.level %>"><%= index %></i>
                        <p class="fund-metrics"><%= data.name %></p>
                        <div class="tip center-align" data-tip="<%= data.description %>">
                            <i class="material-icons">info</i>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="row category-filter">
            <div class="col s12">
                <h4 class="section-title">Alternate Funds</h4>
            </div>
            <div class="col s12">
                <h5 class="section-description">Find similar funds to this ETF.</h5>
            </div>
        </div>

        <div class="cards-container no-padding">
            <div class="cards-col">
                <ul class="card-list">
                    <!-- JST data.funds -->

                    <li class="card-wrapper">
                        <div class="card hoverable" data-id="ACSI">
                            <div class="card-bg background-2">
                                <h6 class="card-title ticker btn blue darken-1">ACSI</h6>
                                <h5 class="fund-name">American Customer Satisfaction Core Alpha ETF</h5>
                                <p class="fund-type center-align">
                                    Equity: U.S. - Large Cap
                                </p>
                            </div>
                            <div class="card-content center-align gun-free">
                                <p><i class="material-icons medium">check</i>Medium</p>
                                <p><i class="material-icons show_chart">show_chart</i>Medium Risk</p>

                            </div>
                        </div>
                    </li>

                    <li class="card-wrapper">
                        <div class="card hoverable" data-id="ACTX">
                            <div class="card-bg background-6">
                                <h6 class="card-title ticker btn blue darken-1">ACTX</h6>
                                <h5 class="fund-name">Global X Guru Activist Index ETF</h5>
                                <p class="fund-type center-align">
                                    Equity: U.S. - Total Market
                                </p>
                            </div>
                            <div class="card-content center-align gun-free">
                                <p><i class="material-icons medium">check</i>High</p>
                                <p><i class="material-icons show_chart">show_chart</i>High Risk</p>

                            </div>
                        </div>
                    </li>

                    <li class="card-wrapper">
                        <div class="card hoverable" data-id="AGG">
                            <div class="card-bg background-3">
                                <h6 class="card-title ticker btn blue darken-1">AGG</h6>
                                <h5 class="fund-name">iShares Core U.S. Aggregate Bond ETF</h5>
                                <p class="fund-type center-align">
                                    Fixed Income: U.S. - Broad Market Investment Grade
                                </p>
                            </div>
                            <div class="card-content center-align gun-free">
                                <p><i class="material-icons medium">check</i>Low</p>
                                <p><i class="material-icons show_chart">show_chart</i>Low Risk</p>

                            </div>
                        </div>
                    </li>
                    <li class="card-wrapper">
                        <div class="card hoverable" data-id="AGGE">
                            <div class="card-bg background-3">
                                <h6 class="card-title ticker btn blue darken-1">AGGE</h6>
                                <h5 class="fund-name">IQ Enhanced Core Bond U.S. ETF</h5>
                                <p class="fund-type center-align">
                                    Fixed Income: U.S. - Broad Market Investment Grade
                                </p>
                            </div>
                            <div class="card-content center-align gun-free">
                                <p><i class="material-icons medium">check</i>Low</p>
                                <p><i class="material-icons show_chart">show_chart</i>Low Risk</p>

                            </div>
                        </div>
                    </li>

                    <li class="card-wrapper">
                        <div class="card hoverable" data-id="AGGP">
                            <div class="card-bg background-4">
                                <h6 class="card-title ticker btn blue darken-1">AGGP</h6>
                                <h5 class="fund-name">IQ Enhanced Core Plus Bond U.S. ETF</h5>
                                <p class="fund-type center-align">
                                    Fixed Income: U.S. - Broad Market
                                </p>
                            </div>
                            <div class="card-content center-align gun-free">
                                <p><i class="material-icons medium">check</i>Low</p>
                                <p><i class="material-icons show_chart">show_chart</i>Low Risk</p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
