<nav class="subpage">
    <div class="nav-wrapper">
    </div>
</nav>
<div class="background-<%= Math.floor(Math.random() * 3) + 1 %> bg-image">
    <div class="container fund">
        <div class="row header-row">
            <div class="col s12 valign-wrapper center-align" style="height: 220px">
                <h3 class="fund-name center-align"><%= data.fund.fund %></h3>
            </div>
        </div>

        <div class="row category-filter">
            <div class="col s12">

            </div>
        </div>

        <div class="card sticky-action">
            <div class="card-content">
                <h5>Fund Metrics</h5>
                <div class="row">
                    <% _.each(data.fund.categoryData, function(data, index, list) { %>
                    <div class="col s6 m4 l2 center-align">
                        <i class="material-icons icons <%= index + ' ' + data.level %>"><%= index %></i>
                        <p class="fund-metrics"><%= data.name %></p>
                        <div class="tip center-align" data-tip="<%= data.description %>">
                            <i class="material-icons">info</i>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="row category-filter">
            <div class="col s12">
                <h4 class="section-title">Alternate Funds</h4>
            </div>
            <div class="col s12">
                <h5 class="section-description">Find similar funds to this ETF.</h5>
            </div>
        </div>

        <ul class="row">

            <li class="col s12 m6 l4">
                <div class="card hoverable" data-id="ACSI">
                    <h3 class="card-title ticker background-2">ACSI</h3>
                    <div class="card-content center-align">
                        <h5 class="fund-name">American Customer Satisfaction Core Alpha ETF</h5>
                        <h5 class="fund-type left-align"><i class="material-icons">pie_chart_outlined</i> Equity: U.S. - Large Cap</h5>
                        <h6 class="asset-class">Class: Developed Markets</h6>
                    </div>
                    <div class="card-action">
                        <a href="#">Look inside fund</a>
                    </div>
                </div>
            </li>

            <li class="col s12 m6 l4">
                <div class="card hoverable" data-id="ALFA">
                    <h3 class="card-title ticker background-1">ALFA</h3>
                    <div class="card-content center-align">
                        <h5 class="fund-name">AlphaClone Alternative Alpha ETF</h5>
                        <h5 class="fund-type left-align"><i class="material-icons">pie_chart_outlined</i> Equity: U.S.  -  Total Market</h5>
                        <h6 class="asset-class">Class: Developed Markets</h6>
                    </div>
                    <div class="card-action">
                        <a href="#">Look inside fund</a>
                    </div>
                </div>
            </li>

            <li class="col s12 m6 l4">
                <div class="card hoverable" data-id="BFOR">
                    <h3 class="card-title ticker background-2">BFOR</h3>
                    <div class="card-content center-align">
                        <h5 class="fund-name">ALPS Barron's 400 ETF</h5>
                        <h5 class="fund-type left-align"><i class="material-icons">pie_chart_outlined</i> Equity: U.S.  -  Total Market</h5>
                        <h6 class="asset-class">Class: Developed Markets</h6>
                    </div>
                    <div class="card-action">
                        <a href="#">Look inside fund</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>