<div class="col s12 m4">
    <div class="card">
        <div class="card-content sdg-header sdg-<%= sdg.goalNumber %>">
            <img class="sdg-icon" width="60px" src="/images/SDGs/SDG-<%= sdg.goalNumber %>-white.png" alt="<%= sdg.name %>" />
            <h2 class="sdg-goal"><%= sdg.goalNumber !== 'all' ? 'Goal ' + sdg.goalNumber + ':' : sdg.goalNumber + ' Goals' %></h2>
            <h3 class="sdg-name"><%= sdg.name !== 'All' ? sdg.name : sdg.name + ' SDGs' %></h3>
        </div>
        <div class="card-content">
            <p class="sdg-description"><%= sdg.description %></p>
        </div>
    </div>
</div>

<div class="index-list col s12 m4">
    <ul class="collapsible" data-collapsible="accordion">
        <li class="col-header">
            <h4 class="onepebble-secondary-text bold">Top 10 Companies</h4>
        </li>
        <% _.each(topCompanies, function(topCompany) { %>
        <li class="<%= sdg.goalNumber.toLowerCase() !== 'all' ? 'gold' : topCompany.All %>">
            <div class="collapsible-header">
                <div class="metal-container center-align">
                    <img class="metal <%= sdg.goalNumber.toLowerCase() !== 'all' ? 'gold' : topCompany.All %>" width="<%= topCompany.All && topCompany.All === 'diamond' ? '26px' : '16px' %>" height="26px" src="/images/metals/<%= sdg.goalNumber.toLowerCase() !== 'all' ? 'gold' : topCompany.All %>-sm.png" alt="<%= sdg.goalNumber.toLowerCase() !== 'all' ? 'gold' : topCompany.All %>" />
                </div>
                <h6 class="names onepebble-primary-text"><%= topCompany.nickName %></h6>
                <i class="material-icons right-align expand_more">expand_more</i><i class="material-icons right-align expand_less">expand_less</i></div>
            <div class="collapsible-body row onepebble-primary-text">
                <div class="col s12 m6 center-align center">
                    <img class="company-logo" width="125px" src="//logo.clearbit.com/<%= topCompany.url %>" alt="<%= topCompany.companyName %>" />
                </div>
                <div class="col s12 m4">
                    <p class="company-label onepebble-primary-text">Stock ticker:</p>
                    <h6 class="names white-text ticker"><%= topCompany.ticker %></h6>
                    <p class="company-label onepebble-primary-text">Name:</p>
                    <h5><%= topCompany.nickName %></h5>
                </div>
                <div class="col s12">
                    <p><%= topCompany[sdg.name].story %></p>
                </div>
        </li>
        <% }) %>
    </ul>
</div>
<div class="index-list col s12 m4">
    <ul class="collapsible" data-collapsible="accordion">
        <li class="col-header">
            <h4 class="onepebble-secondary-text bold">Top 10 Funds</h4>
        </li>
        <% if (topFunds.length === 1)  { %>
        <li>
            <div id="spinner">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <% } else { %>
        <% _.each(topFunds, function(topFund, i) { %>
        <% var metal = (i == 0 || i == 1) ? 'diamond' : (i == 2 || i == 3) ? 'platinum' : (i == 4 || i == 5) ? 'gold' : (i == 6 || i == 7) ? 'silver' : (i == 8 || i == 9) ? 'bronze' : (i == 10) ? 'none' : 'none' %>
        <li class="<%= metal %>">
            <div class="collapsible-header">
                <div class="metal-container center-align">
                    <img class="metal <%= metal %>" width="<%= metal === 'diamond' ? '26px' : '16px' %>" height="26px" src="/images/metals/<%= metal %>-sm.png" alt="<%= metal %>" />
                </div>
                <h6 class="names white-text ticker"><%= topFund.get('ticker') %></h6>
                <i class="material-icons right-align expand_more">expand_more</i><i class="material-icons right-align expand_less">expand_less</i></div>
            <div class="collapsible-body row onepebble-primary-text">
                <div class="col s12 m6">
                    <div class="card-wrapper">
                        <a href="/#fund/<%= topFund.get('ticker') %>">
                        <div class="card small fund-card hoverable <%= metal %>" data-id="<%= topFund.get('ticker') %>">
                            <div class="card-header center"><%= metal %></div>
                            <div class="card-summary-container">
                                <h3 class="card-title ticker white-text"><%= topFund.get('ticker') %></h3>
                                <p class="fund-name"><%= topFund.get('fund') %></p>
                                <div class="fund-summary">
                                    <div class="col s6">
                                        <h4 class="value"><%= topFund.get('performance') && topFund.get('performance').returnPercent ? topFund.get('performance').returnPercent : '--' %></h4>
                                        <p class="label caps">Return</p>
                                    </div>
                                    <div class="vert-divider"></div>
                                    <div class="col s6">
                                        <h4 class="value"><%= topFund.get('analysis').risk %></h4>
                                        <p class="label caps">Risk</p>
                                    </div>
                                </div>
                            </div>
                            <% if (topFund.get('performance') && topFund.get('performance').returnShor !== '10yr') { %>
                            <div class="col s12 fund-disclaimer">
                                <p class="disclaimer caps"><span class="bold"><%= topFund.get('performance') && topFund.get('performance').returnShort %></span> <%= topFund.get('performance') && topFund.get('performance').returnShort !== 'No History' ? 'Backtested' : '' %></p>
                            </div>
                            <% } %>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6">
                    <p class="company-label onepebble-primary-text">Name:</p>
                    <h5><%= topFund.get('fund') %></h5>
                    <p class="company-label onepebble-primary-text">Category:</p>
                    <h5><%= topFund.get('fundBasics').segment %></h5>
                </div>
            </div>

        </li>
        <% }) } %>
    </ul>
</div>